<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../libs/jquery.mobile-1.4.5.min.css">
	<script src="../libs/jquery.min.js"></script>
	<script src="../libs/jquery.storageapi.min.js"></script>
	<script src="../libs/jquery.mobile-1.4.5.min.js"></script>
    <script src="local.js"></script>
    <title>storien</title>
</head>
<body>
<div data-role="page" id="pgSettings" data-title="设置">
	<div data-role="header" data-position="fixed" data-theme="a">
		<h1>设置</h1>
	</div>
	<div data-role="main" class="ui-content">
    	  <form id="signInForm" class="ui-body ui-body-a ui-corner-all">
        <label class='error' id='message'></label>
        <div data-role='fieldcontain'>
          <label for="email">邮箱:</label>
          <input name="email" id="email" value="" type="text"></input>
        </div>
        <div data-role='fieldcontain'>
          <label for="password">密码:</label>
          <input name="password" id="password" value="" type="password"></input>
        </div>
	    <button type="submit" data-theme="a" name="submit" id="submitRegistration" 
	            value="signin">登入</button>
      </form>	
	</div>
	<div data-role="footer" data-position="fixed" data-theme="a">
	    <div data-role="navbar">
	      <ul>
	        <li><a href="#pgSettings" data-prefetch="true" data-transition="flip">设置</a></li>
	        <li><a href="#pgUserHome" data-prefetch="true" data-transition="flip">用户管理</a></li>
	        <li><a href="#pgTestHome" data-prefetch="true" data-transition="flip">测试</a></li>
	      </ul>
	    </div>
	</div>
</div>
<div data-role="page" class="ui-page-theme-a" id="pgTestHome" data-title="测试">
	<div data-role="header" data-position="fixed" data-theme="a">
		<h1>测试</h1>
	</div>
	<div data-role="main" class="ui-content">
	  <div id="qunit"></div>
	  <div id="qunit-fixture"></div>
	</div>
  <div data-role="footer" data-position="fixed" data-theme="a">
    <div data-role="navbar">
      <ul>
	    <li><a href="#pgSettings" data-prefetch="true" data-transition="flip">设置</a></li>
        <li><a href="#pgUserHome" data-prefetch="true" data-transition="flip">用户管理</a></li>
        <li><a href="#pgTestHome" data-prefetch="true" data-transition="flip">测试</a></li>
      </ul>
    </div>
  </div>
</div>
</body>
</html>
